// Add variables here
<<<<<<< HEAD
$body-font: Arial, Helvetica, sans-serif;
$header-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$color-primary: #3046c5;
$color-pale: #cec8ff;
=======

body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header h2 {
    color: $color-pale;
}

.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}